<h1>All Kittens</h1>

<% @kittens.each do | kitten | %>
	<p>
		<%= link_to(kitten.name, kitten ) %> <br>
		<%= link_to("edit", edit_kitten_path(kitten)) %>
		<%= link_to("delete", kitten, method: :delete, data: { confirm: "You sure?"}) %>

	</p>
<% end %>